<!-- esto siempre va a aparecer como un encabezado  -->
<div class="contentRouters">
    <div class="router">
        <a routerLink='form-shops' id="router" class="btn btn-secondary btn-lg active" role="button"
            aria-pressed="true">Formulary</a>
    </div>
    <div class="router">
        <a routerLink='shops-list' id="router" class="btn btn-secondary btn-lg active" role="button"
            aria-pressed="true">Stores List</a>
    </div>
    <div class="router">
        <a routerLink='shops-map' id="router" class="btn btn-secondary btn-lg active" role="button"
            aria-pressed="true">Stores Map</a>
    </div>
</div>
<!-- es el router , es decir las páginas que van a cambiar  -->
<router-outlet></router-outlet>