
<div class="mainContent">
    <button id="btn-secondary" class="btn btn-secondary" (click)="goToList()"><span id="icons" class="material-icons">
        arrow_back
      </span></button>
  <div id="cardInfo" *ngIf="item != undefined" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div id="tittleBox" class="card-header">
      <p>{{ item.name }}</p>
      <button id="btn-secondary" class="btn btn-secondary" title="Modify item" pButton type="button"
        (click)="Modify(item.id,item.name,item.longitude, item.latitude, item.openHour, item.closeHour, item.comentarie)"><span
          id="icons" class="material-icons">
          create
        </span></button>
      <button title="Delete item" id="btn-secondary" class="btn btn-secondary" type="button"
        (click)="delete(item.id)"><span id="icons" class="material-icons">
          delete
        </span></button>
    </div>
    <div id="Body" class="card-body">
      <p>Longitude: {{ item.longitude }}</p>
      <p>Latitude: {{ item.latitude }}</p>
      <p>Opening Hours: {{ item.openHour }}</p>
      <p>Closing Hours: {{ item.closeHour }}</p>
      <div class="deleteComBox">
        <p>Comentarie : {{ item.comentarie }}</p>
        <button title="Delete comentarie" id="btn-secondary" class="btn btn-secondary" type="button"
          (click)="delComm(item.id)"><span id="icons" class="material-icons">
            delete
          </span></button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <form  id="buscador" [formGroup]="newShopFrom" (ngSubmit)="onSubmit()">
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" formControlName="shopName" pInputText>
      <label for="float-input">Shop Name</label>
    </span>
    <br>
    <label> Opening Hours:
      <br>
      <input type="time" pInputText formControlName="openHour">
    </label>
    <br>
    <label> Closing Hours:
      <br>
      <input type="time" pInputText formControlName="closeHour">
    </label>
    <br>
    <br>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" formControlName="latitude" pInputText>
      <label for="float-input">Latitude</label>
    </span>
    <br>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" formControlName="longitude" pInputText>
      <label for="float-input">Longitude</label>
    </span>
    <br>
    <label> Comentaries:
      <br>
      <textarea pInputTextarea size="30" formControlName="comentarie"></textarea>
    </label>
    <br>
    <button id="btn-secondary" class="btn btn-secondary" type="submit" [disabled]=!newShopFrom.valid> <span id="icons"
        class="material-icons">
        done_outline
      </span> </button>
  </form>
</div>