.list {
  color: white;
}

.boxShop {
  width: 300px;
  height: 50px;
  margin: 10px;
  background-color: #686369;
  color: white;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#contentList {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
