.content {
  float: left;
  display: block;
  // padding: 20px;
  height: calc(100% - 140px);
  width: calc(100% - 300px);
  overflow-y: auto;
  background-color: #443f45;
}

#menu {
  background-color: #353335;
  color: white; 
}
