<form [formGroup]="newShopFrom" (ngSubmit)="onSubmit()">
  <label> Shop Name:
    <br>
    <input type="text" formControlName="shopName">
  </label>
  <br>
  <label> Opening Hours:
    <br>
    <input type="time" formControlName="openHour">
  </label>
  <br>
  <label> Closing Hours:
    <br>
    <input type="time" formControlName="closeHour">
  </label>
  <br>
  <label> Latitude:
    <br>
    <input type="number" formControlName="latitude">
  </label>
  <br>
  <label> Longitude:
    <br>
    <input type="number" formControlName="longitude">
  </label>
  <br>
  <button type="submit" [disabled]=!newShopFrom.valid> Submit </button>
</form>



